<!-- app/templates/auth/register.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block body %}
<div class="content-section">
  <div class="center">
    <h1>Register to play the quiz!</h1>
    <p>I don't trust AWS's security... I would suggest creating a new password for this website. However if you really can't be arsed, I've made sure all passwords are hashed appropriately, so if somehow someone does get access to this database, as long as your password isn't dogshit they won't be able to do much with it!</p>
    <br/>
    {{ wtf.quick_form(form) }}
  </div>
</div>
{% endblock %}