<!-- app/templates/store/add.html -->
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Browse{% endblock %}
{% block body %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      var socket = io.connect('ws://127.0.0.1:5000/Play');

      socket.on('connect', function(){
        socket.emit('load_question_data', {'data': '2'});
        //on connect, ask server for question data
        //TO DO:
        //  - create admin button to go to next question, which will automatically incrememt question id
      })

      socket.on('new_response', function(msg) {
        console.log('EL BOONGER ROONGA', msg.data);
      });

      socket.on('question', function(question_data) {
        //recieve question data
        var data = question_data.data

        var img = document.createElement("img");
        img.src = "/static/img/uploads/" + data["file"]
        img.width = 350
        img.height = 350
        //for the sake of testing, this doesn't look nice here I know that, infact all of this JS should be in a static JS file
        var src = document.getElementById("file");
        src.appendChild(img);

        document.getElementById('round_header').innerHTML = data["round"];
        document.getElementById('question_header').innerHTML = data["question"];
        document.getElementById('additional_info_header').innerHTML = data["additional_info"];
        document.getElementById('points_worth_header').innerHTML = data["points_worth"];
        
        if (data["question_type"]==1)
        {
          var answer_header = document.createElement("input");
          answer_header.type = "text";
          answer_header.className = "answer_text_input";
          var div_append = document.getElementById("answers");
          div_append.appendChild(answer_header);
        }
        else
        {
          const tmp_arr = (data["question_options"]).split(',')
 
          for (var value of tmp_arr)
        {
            $('#answers').append(
                $('<br><input>').prop({
                    type: 'radio',
                    id: value,
                    name: 'multiple_choice_answer',
                    value: value
                })
            ).append(
                $('<label>').prop({
                    for: value
                }).html(value)
            )
        }
          
        }

      })
    });
  </script>
  <div class="content-section">
    <div class="center">
        <thead class ="question_col" >
          <div id="file"></div>
          <h2 id="round_header"></h1>
          <h1 id="question_header"></h2>
          <h3 id="additional_info_header"></h3>
          <h4 id="points_worth_header"></h4>
          <div id="answers"></div>
        </thead>
    </div>
  </div>
</form>
{% endblock %}