<!-- app/templates/store/add.html -->
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Browse{% endblock %}
{% block body %}
<head>
  </head>
  <body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){

    var socket = io.connect('ws://127.0.0.1:5000/');
    window.addEventListener('unload', function(e){
        e.preventDefault()
        e.stopImmediatePropagation();
        e.returnValue = 'unused string';
        e.returnValue = ' ';
        console.log('UNLOAD CONFIRMED. TERMINATING EGG!');
    });

    try{
    var button = document.getElementById("ready")
    button.addEventListener('click', function(e){
        console.log("User readied up.")
        socket.emit('ready_user', {'data': 'User readied up.'});
    });
    }
    catch(error){
    /* Do nothing */
    }

    try{
      var button2 = document.getElementById("unready")
      button2.addEventListener('click', function(e){
        console.log("User no longer ready.")
        socket.emit('unready_user', {'data': 'User no longer ready.'});
    });
    }
    catch(error){
    /* Do nothing */
    }
    
    try{
      var button2 = document.getElementById("start")
      button2.addEventListener('click', function(e){
        socket.emit('quiz_redirect', {'data': 'EGGS DR.FREEMAN'});
        socket.emit('change_game_state', {'data': 'EGGS DR.FREEMAN'});
        console.log('START BUTTON PRESSED')
    });
    }
    catch(error){
    /* Do nothing */
    }
    socket.on('redirect', function (data) {
      window.location = data.url;
    });
    
    socket.on('user_status', function(data){
        var users_present = data.data.present
        var users_ready = data.data.ready
        console.log(users_present)
        console.log(users_ready)
        
        document.getElementById('connected_users').innerHTML = "";
        for (var i = 0; i < users_present.length; i++)
            $('#connected_users').append('<br>' + $('<div/>').text(' - ' + users_present[i]).html()); 

        document.getElementById('rdy_users').innerHTML = "";
        for (var i = 0; i < users_ready.length; i++)
            $('#rdy_users').append('<br>' + $('<div/>').text(' - ' + users_ready[i]).html()); 
    });

    socket.on('my_response', function(msg) {
        console.log('EL BOONGER ROONGA', msg.data);
    });
    });

  </script>
  </body>
  <div class="content-section">
    <div class="center">
      {{ form.csrf_token }}
      <h1>Start Quiz</h1>
      {% if form.start is not defined %}
      <th class="oof" scope="col">{{ wtf.form_field(form.ready)}}</th>
      <th class="oof" scope="col">{{ wtf.form_field(form.unready)}}</th>
      {% endif %}
      {% if form.start is defined %}
      <form method="post" enctype="multipart/form-data">
      {{ form.csrf_token }}
      <th class="oof" scope="col">{{ wtf.form_field(form.start)}}</th>
      </form>
      {% endif %}
      <div class="content-section">
        <h3>Users Connected:</h3>
        <div id="connected_users"></div>
        <h3>Users Ready:</h3>
        <div id="rdy_users"></div>
      </div>
    </div>
  </div>

{% endblock %}