<!-- app/templates/store/add.html -->
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Browse{% endblock %}
{% block body %}
<head>
  </head>
  <body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){

    var socket = io.connect('ws://localhost:5000/',{origins:"*"});
    
    socket.on('connect', function() {
                socket.emit('resp', {data: 'I\'m connected, Mr server!'});
                socket.emit('user', {data:'{{ session["username"] }}'});
                console.log('im connected.');
      });

    socket.on('disconnect', function() {
          socket.emit('resp_disc', {data:'{{ session["username"] }}'});
    });

    window.addEventListener('beforeunload', function(e){
        e.preventDefault()
        e.stopImmediatePropagation();
        e.returnValue = 'unused string';
        e.returnValue = ' ';
        socket.emit('resp_disc', {data:'{{ session["username"] }}'});
        console.log('UNLOAD CONFIRMED. TERMINATING EGG!');
    });
    
    socket.on('my_response', function(msg) {
      $('#users').append('<br>' + $('<div/>').text('User Connected #' + ': ' + msg).html());
        console.log('EL BOONGER ROONGA', msg);
      });
    });

  </script>
  </body>
  <!--<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function() {
        socket.emit('message', {data:'{{ session["username"] }}'});
    });
</script> -->
  <div class="content-section">
    <div class="center">
      <h1>Start Quiz</h1>
      <form method="post" enctype="multipart/form-data">
      {{ form.csrf_token }}
      <div class="content-section">
        <div class="center">
            <thead class ="question_col" >
                <th class="oof" scope="col">{{ wtf.form_field(form.submit)}}</th>
            </thead>
        </div>
      </div>
      </form>
    </div>
  </div>
  <h2>Connected users:</h2>
  <div id ="users"></div>
{% endblock %}